
// color variables color variables color variables color variables color variables color variables color variables

$colorTitleDark: #222;
$colorTitle: #fff;

$colorText: #c2c2c2;
$colorTextLight: #fff;
$colorTextBright: #4ae5d1;

$colorButton: #4ae5d1;

$colorBackground: #fff;
$colorBackgroundAlternate: #c2c2c2;

$colorFootA: #1b1b1b;
$colorFootB: #141414;

$colorFacebook: #3b5998;
$colorTwitter: #22abf1;
$colorGooglePlus: #d0422a;
$colorPinterest: #cc2126;

// font variables font variables font variables font variables font variables font variables font variables

$fontTitle: "Roboto Condensed", sans-serif;
$fontText: "Lato", sans-serif;
$fontSocialButton: "Dosis", sans-serif;